name: Metrics
on:
  # Schedule updates (every hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run it manually from the Actions tab
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: EmmanuelBitancor
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Manila
